{% extends "diaBase.html" %}

{% block content %}

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Direct Internet Access Configuration</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">DashBoard</a></li>
            <li class="breadcrumb-item active">D.I.A. Config</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                
                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <h5 class="card-header">

                          <div class="row">
                            <div class="col">
                                <h3 class="card-title">
                                    Active DIA:
                                </h3>
                            </div>
                            <div class="col">
                                <h3 class="card-title float-right">
                                  <a data-toggle="modal" data-target="#addNew" href="#" class="btn btn-primary"> Add new </a>       
                                </h3>
                            </div>
                          
                        </h5>

                        <p class="card-text">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th style="width: 10px">id</th>
                                <th>Vmanager</th>
                                <th>ip</th>
                                <th>webhook</th>
                                <th style="width: 40px">DIA</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for webhook in webhooks %}
                              <tr>                                
                                <td>{{webhook.vManager.id}}</td>
                                <td>{{webhook.vManager.name}}</td>
                                <td>{{webhook.vManager.ip}}</td>
                                <td>{{ request.META.HTTP_HOST }}/dia/webhook/{{webhook.webhookId}}</td>
                                <td><span class="badge bg-success"><a href="{{webhook.webhookId}}">ON</a></span></td>
                              </tr>
                              {% endfor%}
                              
                            </tbody>
                          </table>                     
                        </p> 
                    </div>
                </div><!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
           
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Webhook</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST">
          {% csrf_token %}
          <div class="modal-body">
            
            <div class="form-group">
              <label class="col-form-label">VManager (Ones which left for DIA):</label>
              <select class="form-control" name="vm">
                {%for vm in request.session.vms%}
                  <option value="{{vm.pk}}">{{vm.fields.name}}</option>
                  {% endfor %}
              </select>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>


{%endblock%}