{% extends "diaBase.html" %}

{% block content %}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">DIA {{wh.vManager.name}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">DashBoard</a></li>
          <li class="breadcrumb-item active">DIA Config</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <div class="card card-primary card-outline">
          <div class="card-body">
            <h5 class="card-header">
              <div class="row">
                <div class="col-11">
                  DIA config
                </div>

                <div class="col-1">

                  <a class="btn btn-warning">Reset</a>

                </div>
                
              </div>
            </h5>

            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <div style="margin-top: 5px;" class="col"><button class="btn form-control btn-primary"
                    data-toggle="modal" data-target="#addNoMonitor">Add site to
                      NoMonitoring</button></div>
                  <div style="margin-top: 5px;" class="col"><button class="btn form-control btn-primary"
                    data-toggle="modal" data-target="#deleteNoMonitor">Delete site
                      from NoMonitoring</button></div>
                  <div style="margin-top: 5px;" class="col"><button class="btn form-control btn-primary"
                    data-toggle="modal" data-target="#checkNoMonitor">Check
                      NoMonitoring sites</button></div>

                </div>
                <div class="col-6">

                  <div style="margin-top: 5px;" class="col"><button type="button" class="btn form-control btn-primary"
                      data-toggle="modal" data-target="#exampleModal">
                      Add site to NoDIA
                    </button></div>
                  <div style="margin-top: 5px;" class="col"><button type="button" class="btn form-control btn-primary"
                      data-toggle="modal" data-target="#exampleModal2">
                      Add site to DIA
                    </button></div>
                  <div style="margin-top: 5px;" class="col"><a href="{{request.path}}/download"
                      class="btn form-control btn-primary">Download log</a></div>


                </div>
              </div>


            </div>
            <div class="row">
            </div>
            <div class="text-center">
              Site with NODIA Active log
            </div>


            <div class="row">
              <div class="col">
                <textarea style="background: black;" readonly id="console" class="text-white form-control"></textarea>
              </div>
            </div>
          </div>
        </div><!-- /.card -->
      </div>



      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add site to NoDIA</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="POST" action="p/DIAtoNoDIA">
              {% csrf_token %}
              <div class="modal-body">
                <input type="hidden" name="wh" value="{{wh.webhookId}}">
                <input type="hidden" name="vm" value="{{wh.vManager.id}}">
                <input class="form-control" name="siteId" placeholder="Site id">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>





      <div class="modal fade" id="addNoMonitor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add site to No Monitoring</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="POST" action="{{request.path}}/noMon">
              {% csrf_token %}
              <div class="modal-body">
                <input type="hidden" name="oper" value="add">
                <input class="form-control" name="siteId" placeholder="Site id">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>



      <div class="modal fade" id="deleteNoMonitor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete site from No Monitoring</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="POST" action="{{request.path}}/noMon">
              {% csrf_token %}
              <div class="modal-body">
                <input type="hidden" name="oper" value="delete">
                <input class="form-control" name="siteId" placeholder="Site id">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Remove</button>
                
              </div>
            </form>
          </div>
        </div>
      </div>



      <div class="modal fade" id="checkNoMonitor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">No monitoring sites</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
              <div class="modal-body">

                <textarea readonly class="form-control">{% for e in excluded %}{{e.siteId}},{% endfor %}
                </textarea>
                

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            
          </div>
        </div>
      </div>






      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add site to DIA</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="POST" action="p/NoDIAtoDIA">
              {% csrf_token %}
              <div class="modal-body">
                <input type="hidden" name="wh" value="{{wh.webhookId}}">
                <input type="hidden" name="vm" value="{{wh.vManager.id}}">
                <input class="form-control" name="siteId" placeholder="Site id">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<script>
  if (typeof (EventSource) !== "undefined") {
    var source = new EventSource("stream/{{wh.webhookId}}");

    source.onmessage = function (event) {

      if (event.data !== '') {
        document.getElementById("console").innerHTML += event.data + "\n";
      }
      document.getElementById("console").innerHTML = document.getElementById("console").innerHTML.replace(/\*/g, '\n')
    };

  } else {
    document.getElementById("console").innerHTML = "Sorry, your browser does not support server-sent events...";
  }
</script>

{%endblock%}