{% extends "diaBase.html" %}

{% block content %}

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">DIA ITS test</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">DashBoard</a></li>
            <li class="breadcrumb-item active">D.I.A. Config</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                
                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <h5 class="card-header">
                          <div class="row">
                            <div>
                              DIA config
                            </div>  
                          </div>
                          </h5>
                          
                          <div class="card-body">
                          <div class="row">
                            <div class="col-6">                              
                                <div class="col"><button class="btn form-control btn-primary">Add site to NoMonitoring</button></div>
                                <div class="col"><button class="btn form-control btn-primary">Delete site from NoMonitoring</button></div>
                                <div class="col"><button class="btn form-control btn-primary">Check NoMonitoring sites</button></div>
                                <div class="col"><button class="btn form-control btn-primary">Check Monitoring sites</button></div>
                              </div>
                              <div class="col-6">
                                
                                <div class="col"><button type="button" class="btn form-control btn-primary" data-toggle="modal" data-target="#exampleModal">
                                  Add site to NoDIA
                                </button></div>
                                <div class="col"><button type="button" class="btn form-control btn-primary" data-toggle="modal" data-target="#exampleModal2">
                                  Add site to DIA
                                </button></div>
                                <div class="col"><button class="btn form-control btn-primary">Sync Database</button></div>
                                <div class="col"><button class="btn form-control btn-primary">Disable/enable App DIA</button></div>
                                                              
                              </div>
                            </div>
                            

                          </div>
                          <div class="row">
                          </div>
                            <div class="text-center">
                              Site with NODIA Active log
                            </div>  
                          

                          <div class="row">
                            <div class="col" >
                              <textarea readonly class="form-control">

                                {%for row in wh%}
                                [{{row.time}}] HostName: {{row.hostname}}, SystemIp: {{row.ip}}
                                {% endfor %}
                              </textarea>
                            </div>  
                          </div>
                        </div>
                </div><!-- /.card -->
            </div>
         
            

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add site to NoDIA</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form method="POST" action="p/DIAtoNoDIA">
                    {% csrf_token %}
                    <div class="modal-body">
                    <input type="hidden" name="vm" value="{{vm.webhookId}}">
                    <input class="form-control" name="siteId" placeholder="Site id">
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                  </div>
                </form>
                </div>
              </div>
            </div>



            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add site to DIA</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form method="POST" action="p/NoDIAtoDIA">
                    {% csrf_token %}
                  <div class="modal-body">  
                      <input type="hidden" name="vm" value="{{vm.webhookId}}">                 
                      <input class="form-control" name="siteId" placeholder="Site id">                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                  </div>
                </form>
                </div>
              </div>
            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


{%endblock%}