<div id="{{component.id}}" class="grid-stack-item" data-gs-x="{{component.x}}" data-gs-y="{{component.y}}" data-gs-width="{{component.w}}" data-gs-height="{{component.h}}">
    <div class="grid-stack-item-content card">

        <div class="card-header">
            <h3 class="card-title">

                Comment
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            Un comentario

        </div>
        <!-- /.card-body -->

    </div>
</div>