{% extends "base.html" %}

{% block content %}

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Admin</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">DashBoard</a></li>
            <li class="breadcrumb-item active">Groups</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

<div class="content">
    <div class="container-fluid">
        <div class="row">



            <div class="col-lg-12">
                
                <div class="card card-primary">
                    <div class="card-body">
                        <h5 class="card-header">

                          <div class="row">
                            <div class="col">
                                <h2 class="card-title">
                                    DOM VManagers:
                                </h2>
                            </div>
                            <div class="col">
                                <h3 class="card-title float-right">
                                  <a data-toggle="modal" data-target="#addVm" href="#" class="btn btn-primary"> Add new </a>       
                                </h3>
                            </div>
                          
                        </h5>

                        <p class="card-text">
                          <table id="vManagersTable" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>id</th>
                                <th>Name</th>
                                <th>ip</th>
                                <th>user</th>
                                <th>color</th>
                               
                              </tr>
                            </thead>
                            <tbody>
                              {% for vm in vms %}
                              <tr>
                                <td>{{vm.id}}</td>                                
                                <td>{{vm.name}}</td>
                                <td>{{vm.ip}}</td>
                                <td>{{vm.user}}</td>  
                                <td><a class="{{vm.color.color}}"></a></td> 
                              </tr>
                              {% endfor%}
                              
                            </tbody>
                          </table>                     
                        </p> 
                    </div>
                </div><!-- /.card -->
            </div>



            <div class="col-lg-12">
                
                <div class="card card-primary">
                    <div class="card-body">
                        <h5 class="card-header">

                          <div class="row">
                            <div class="col">
                                <h3 class="card-title">
                                    DOM Users:
                                </h3>
                            </div>
                            <div class="col">
                                <h3 class="card-title float-right">
                                  <a data-toggle="modal" data-target="#addUser" href="#" class="btn btn-primary"> Add new </a>       
                                </h3>
                            </div>
                          
                        </h5>

                        <p class="card-text">
                          <table id="usersTable" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>id</th>
                                <th>Name</th>
                                <th>Is Admin</th>
                                
                               
                              </tr>
                            </thead>
                            <tbody>
                              {% for user in users %}
                              <tr>
                                <td>{{user.id}}</td>                                  
                                <td>{{user.userName}}</td>
                                <td>{{user.isAdmin}}</td>
                                 
                              </tr>
                              {% endfor%}
                              
                            </tbody>
                          </table>                     
                        </p> 
                    </div>
                </div><!-- /.card -->
            </div>


            <div class="col-lg-12">
                
                <div class="card card-primary ">
                    <div class="card-body">
                        <h5 class="card-header">

                          <div class="row">
                            <div class="col">
                                <h3 class="card-title">
                                    DOM Groups:
                                </h3>
                            </div>
                            <div class="col">
                                <h3 class="card-title float-right">
                                  <a data-toggle="modal" data-target="#addNew" href="#" class="btn btn-primary"> Add new </a>       
                                </h3>
                            </div>
                          
                        </h5>

                        <p class="card-text">
                          <table id="groupsTable" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>id</th>
                                <th>Name</th>
                                <th>Users</th>
                                <th>Vmanagers</th>
                               
                              </tr>
                            </thead>
                            <tbody>
                              {% for gp in gps %}
                              <tr>     
                                <td>{{gp.id}}</td>                             
                                <td>{{gp.name}}</td>
                                <td>{{gp.users.all | length}}</td>
                                <td>{{gp.vManagers.all | length}}</td>  
                              </tr>
                              {% endfor%}
                              
                            </tbody>
                          </table>                     
                        </p> 
                    </div>
                </div><!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
           
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="cGroup">
          {% csrf_token %}
          <div class="modal-body">
            
            <div class="form-group">
              <label class="col-form-label">Name</label>
              <input name="name" required class="form-control" placeholder="Group name" />
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>






  <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New DOM User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="cUser">
          {% csrf_token %}
          <div class="modal-body">
            
            <div class="form-group">
              <label class="col-form-label">Email</label>
              <input name="email" type="email" required class="form-control" placeholder="User email" />

              <label class="col-form-label">Password</label>
              <input name="password" type="password" required class="form-control" placeholder="User password" />

              <label class="col-form-label">Admin</label>
              <input type="checkbox" name="admin" class="" />


            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>




  <div class="modal fade" id="addVm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New DOM VManager</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="cVmanager">
        {% csrf_token %}
        <div class="modal-body">
          
          <div class="form-group">
            <label class="col-form-label">Name</label>
            <input name="name" type="text" required class="form-control" placeholder="VManager name" />

            <label class="col-form-label">IP</label>
            <input name="ip" type="text" required class="form-control" placeholder="VManager IP (ex. vmanage-930412.viptela.net)" />
            

            <label class="col-form-label">User</label>
            <input name="user" type="text" required class="form-control" placeholder="VManager admin user" />


            <label class="col-form-label">Password</label>
            <input name="password" type="password" required class="form-control" placeholder="VManager admin password" />

            <label class="col-form-label">Color</label>
            <select name="color" class="form-control">
              {%for color in colors%}
                <option value="{{color.id}}" class="{{color.color}}">{{color.color}}</option>
              {% endfor %}
            </select>

            <label class="col-form-label">DIA Uri (optional)</label>
            <input name="dia" type="text"  class="form-control" placeholder="VManager DIA uri" />

            <label class="col-form-label">NODIA Uri (optional)</label>
            <input name="noDia" type="text"  class="form-control" placeholder="VManager NODIA uri" />


          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>





  

  {%load static%}
   <!-- Tabulator -->
   <link rel="stylesheet" href="{% static 'plugins/tabulator/dist/css/tabulator.min.css' %}">

    <!-- Tabulator -->
    <script src="{% static 'plugins/tabulator/dist/js/tabulator.min.js' %}"></script>



  <script>



    var usersTable = new Tabulator("#usersTable", {
        height:"311px",
        responsiveLayout:"hide",
        layout:"fitColumns",

        rowClick:function(e, row){
          window.location.href = 'user/'+row.getData().id
        },

        
    });


    var vManagersTable = new Tabulator("#vManagersTable", {
        height:"311px",
        responsiveLayout:"hide",
        layout:"fitColumns",

        rowClick:function(e, row){
          window.location.href = 'vManager/'+row.getData().id
        },
        
    });


    var groupsTable = new Tabulator("#groupsTable", {
        height:"311px",
        responsiveLayout:"hide",
        layout:"fitColumns",

        rowClick:function(e, row){
          window.location.href = 'group/'+row.getData().id
        },

        
    });


  </script>


{%endblock%}